{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="cssName.css"> -->
		<!-- <script src="jsname.js"></script> -->
		
		<!--Latest compiled and minified CSS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--Optional theme-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		
		<!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
		<link rel="stylesheet" href="/static/css/blog.css">
		
		<title></title>
	</head>
	<body>
		
		<h1>WTF</h1>
		
		{% block content %}{% endblock%}
		
		
		
		
			
			
	</body>
</html>